<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session summary</title>
</head>
<body>
    <h1>Session summary</h1>
    <p>Student: {{ session.student.fistname }} {{ session.student.lastname }}</p>
    <p>Start time: {{ session.start_time }}</p>
    <p>End time: {{ session.end_time }}</p>
    <p>Duration: {{ session.duration_in_hours|floatformat:2 }} hours</p>
    <p><strong> Total cost: KSh {{ session.total_amount }} </strong></p>
    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>